body{
    background-image: url(../assets/background.png);
}

.cityForm{
    display: grid;
    width: 30%;
    margin-left: 35%;
    margin-top: 30px;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
}

.city{
    grid-column: 1;
    grid-row: 1;
    min-width: 150px;
}

.days{
    grid-column: 2;
    grid-row: 1;
    min-width: 150px;
}

.submit-btn{
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 33%;
    margin-left: 33%;
    min-width: 100px;
}

.dailyForecastCard{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;

}

.dailyForecastContainer{
    margin: 50px 20px 50px 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

::-webkit-scrollbar-button{
    display: none;
}
