.advancedForecastContainer{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px grey solid;
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: row;
    height: calc(30vh - 30px);
    overflow-x: auto;
}

.advancedForecastElement{
    display: grid;
    grid-template-rows: 70% 30%;
}

.icon{
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value{
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}