<div class="advancedForecastContainer">
    <div class="advancedForecastElement">
        <div class="icon">
            <img src="../../assets/pressure.png"/>
        </div>
        <div class="value">
            <label class="value-label">{{getAverage(this.advancedForecast.pressure) | number : '1.0-0'}}</label>
        </div>
    </div>
    <div class="advancedForecastElement">
        <div class="icon">
            <img src="../../assets/rainfall.png"/>
        </div>
        <div class="value">
            <label class="value-label">{{getAverage(this.advancedForecast.rain) | number : '1.2-2'}}</label>
        </div>
    </div>
    <div class="advancedForecastElement">
        <div class="icon">
            <img src="../../assets/snowfall.png"/>
        </div>
        <div class="value">
            <label class="value-label">{{getAverage(this.advancedForecast.snowfall) | number : '1.2-2'}}</label>
        </div>
    </div>
    <div class="advancedForecastElement">
        <div class="icon">
            <img src="../../assets/czarne_oczko.png"/>
        </div>
        <div class="value">
            <label class="value-label">{{roundNumber(getAverage(this.advancedForecast.visibility))}}</label>
        </div>
    </div>
    <div class="advancedForecastElement">
        <div class="icon">
            <img src="../../assets/windspeed.png"/>
        </div>
        <div class="value">
            <label class="value-label">{{getAverage(this.advancedForecast.windspeed) | number : '1.0-0'}}</label>
        </div>
    </div>
</div>